<div id="footer" class="well well-sm">
&nbsp;  <div class="pull-right">
    [ <a href="/blog/2013/10/30/Setting-a-Research-Agenda/">join</a> ]
    [ <a href="mailto:info@hdiresearch.org">contact</a> ]
  </div>
</div>

{% if site.github %}
<a href="http://github.com/{{ site.github }}">
  <img style="position: absolute; border: 0;
              top: {{page.github-top}}; right: {{page.github-right}}"
       src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
       alt="Fork me on GitHub" />
</a>
{% endif %}
