<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% endif %}

    <meta name="author"
          content="{% if page.author %}{{page.author}}{% else %}{{ site.author }}{% endif %}"
          />

    <title>
      {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">

    {% for css in page.css %}
    <link href="/css/{{ css }}.css" rel="stylesheet" media="screen">
    {% endfor %}

<link href='http://fonts.googleapis.com/css?family=Overlock+SC|Overlock:400,900,400italic,900italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
         queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js">
      </script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js">
      </script>
    <![endif]-->

    {% if site.google_analytics %}
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ?
          'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}

  </head>
  <body>

    <a href="#content" class="sr-only">Skip to main content</a>

    <!-- Wrap all page content here -->
    <div id="wrap">
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-1.10.2.js"></script>
    <!-- Include all compiled plugins (below), or individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    {% for script in page.js %}
    <script src="/js/{{ script }}.js"></script>
    {% endfor %}

  </body>
</html>
